
:root.theme-dark {
  --heading-text-color: #000028;
  --focus-text-color: #db00ff;
  --heading-bg-color:#ff0070;
  --article-text-color:#f1b2ce;
  --bg-page:#000028;
  --rec-color: #ff0070; 
  --bg-picture: url(../images/cover-image-dark.png);
}
