

  :root.theme-light  {
  --heading-text-color: #353430;
  --focus-text-color: #FFC2E6;
  --heading-bg-color: #FF8DCB;
  --article-text-color: #353430;
  --bg-page: #ffffff;
  --article-heading: #353430;
  --rec-color: #fff;
  --bg-picture: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --heading-text-color: #353430;
    --focus-text-color: #FFC2E6;
    --heading-bg-color: #FF8DCB;
    --article-text-color: #353430;
    --article-heading: #353430;
    --rec-color: #fff;
    --bg-picture: url(../images/cover-image-light.png);
  }
}
