/*Стили светлой темы*/
.theme-light .page {
  --bg-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --color-header-title: #FFC2E6;
  --bg-cover: url(../images/cover-image-light.png);
  --subtitle-color: #353430;
  --decor-color: var(--text-color);
  --content-title-color:var(--text-color);
  
  --underline-color: var(--text-color);
  --border-color: var(--text-color);
  --border-color-button-hover:rgb(53, 52, 48, 40%);
  --button-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --color-header-title: #FFC2E6;
  --bg-cover: url(../images/cover-image-light.png);
  --subtitle-color: #353430;
  --button-color: var(--text-color);
  --decor-color: #353430;
  --content-title-color:var(--text-color);
  --underline-color: var(--text-color);
  --border-color-button-hover:rgb(53, 52, 48, 40%);
}

  .header__decoration-icon {
    display: none;
  }
}

.theme-light
.header__decoration-icon {
    display: none;
  }