

:root {
--heading-text-color: #000028;
--bg-page:#000028;
--focus-text-color: #db00ff;
--heading-bg-color:#ff0070;
--article-heading:#ff0070;
--article-text-color:#f1b2ce;
--rec-color: #ff0070;
--bg-picture: url(../images/cover-image-dark.png);
--focus-line-height: 82.5%;
--mob-focus-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
--lab-focus-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
--main-line-height: 23.4px;
--main-font-size: 18px;
--main-font-weight: 400;
--large-font-weight: 700;
--other-versions-font: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
--main-font: 'IBM Plex Mono';
}